@font-face { font-family: Avenir Roman; src: url('../assets/Avenir-Roman.ttf'); } 
@font-face { font-family: Avenir Black; src: url('../assets/Avenir_Black.ttf'); } 
body {margin: 0; padding: 0; font-size: 30px;}
a.maillink {color: #fff; text-decoration: none;}
.row {width: 100%; margin: 0; padding: 0; overflow: hidden;}
.darkblue {background-color: #002743;}
.lightblue {background-color: #4187a9;}
.yellow {background-color: #ffbf00;}
.yellowt {color: #ffbf00;}
img {display: block;}

.deliver {
	padding: 65px 0;
	margin: 0;
	text-align: center;
	width: 100%;
}

.delivered {
	text-align: center; 
	font-size: 24px; 
	font-weight: normal;
	line-height: 160%;
	font-family: 'Avenir Roman', sans-serif; 
	color: rgba(255,255,255,0.9);
	margin: 30px auto;
	width: 60%;

}
.commitment {
	padding: 30px 0;
	margin: 0;
	text-align: center;
	font-family: 'Avenir Roman', sans-serif; 
}
.commitment h3 {
	color: #002743;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 24px;
	font-family: 'Avenir Black', sans-serif; 
	font-weight: normal;
}
.hgv {width: 100%;}
.image2flex {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-around;
	margin: 20px 0;
}
.image2flex div {width: 48%;}
.image2flex img {width: 100%;}
.wedeliver {
	padding-top: 30px;
	padding-bottom: 40px;
	text-align: center;
	}
.wedeliver h2 {
	text-align: center; 
	font-size: 6vw; 
	line-height: 100%;
	font-family: 'Avenir Black', sans-serif; 
	color: #fff;
}
.wedeliverflex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px 20px;
	width: 90%;
	margin: 10px auto;
}

.wedeliverflex img {width: 100%;}

.fenvelope {width: 35px; margin: 0 25px 0 15px;}
@media (max-width: 900px) {
img.toplogo {width: 50%; margin: 34px auto 29px auto;}
.envelope {width: 100%; max-width: 30px; margin: 0 30px 0 30px;}
.sffd {
	background-image: url('../images/generation-flooring-room-set-laminate-full.jpg'); 
	background-size: 100% auto; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	background-repeat: no-repeat;
	background-position: top;
	}
.sffd h1 {
	margin: 32% auto 4%;
	color: #fff;
	font-family: 'Avenir Black', sans-serif;
	font-size: 6.5vw;
	text-align: center;
	line-height: 110%;
	text-shadow: 1px 1px 3px #666;
}
.commitment p {
	margin: 20px auto;
	width: 70%;
	text-align: center;
	line-height: 180%;
	color: rgba(0,0,0,0.9);
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 18px;
}
.telflex {display: flex; flex-direction: row-reverse; justify-content: flex-start; align-items: center; font-family: Avenir Black, sans-serif; color: #fff; font-size: 3.5vw; }
.ftrcrd {
	margin-top: 30px;
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 2.5vw; 
	color: rgba(255,255,255,0.7);
	line-height: 140%;
}
.ftel {
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 32px; 
	color: #fff;
}
.footermail {
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 30px; 
	color: #fff;
	line-height: 100%;
}
img.footerlogo {width: 90%;}
.wedeliverflex div {width: 45%;}
.deliveredh {
	text-align: center; 
	font-size: 36px; 
	font-family: 'Avenir Black', sans-serif; 
	color: #fff;
	margin: 0;
	}
.footer {
	padding: 75px 30px 95px 60px;
	background-image: url(../images/generation-flooring-circle-logo.png);
	background-repeat: no-repeat;
	background-position: -5% 120%;
	background-size: 30vw 30vw;
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 30px; 
	color: #fff;
	line-height: 100%;
}
}
@media (min-width: 900px) {
img.toplogo {width: 24%; margin: 28px 20px 24px 90px;}
.envelope {width: 100%; max-width: 40px; margin: 0 30px 0 30px;}
.telflex {display: flex; flex-direction: row-reverse; justify-content: flex-start; align-items: center; font-family: Avenir Black, sans-serif; color: #fff; font-size: 1.3vw; padding: 15px 5px;}
.telflex p {margin: 0;}
.sffd {
	background-image: url('../images/generation-flooring-room-set-laminate-full.jpg'); 
	background-size: 100% auto; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	background-repeat: no-repeat;
	background-position: 0% 75%;
	}
.sffd h1 {
	margin: 13% auto 3%;
	color: #fff;
	font-family: 'Avenir Black', sans-serif;
	font-size: 4.5vw;
	text-align: center;
	line-height: 110%;
	text-shadow: 1px 1px 3px #666;
}
.commitment p {
	margin: 5px auto;
	width: 70%;
	text-align: center;
	line-height: 180%;
	color: rgba(0,0,0,0.7);
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 22px;
}
.ftrcrd {
	margin-top: 34px;
	margin-bottom: 10x;
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 20px; 
	color: rgba(255,255,255,0.7);
	line-height: 140%;
}
.ftel {
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 30px; 
	color: #fff;
}
.footermail {
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 30px; 
	color: #fff;
	line-height: 100%;
}
img.footerlogo {width: 25%;}
.wedeliverflex div {width: 32%;}
.deliveredh {
	text-align: center; 
	font-size: 42px; 
	font-family: 'Avenir Black', sans-serif; 
	color: #fff;
	margin: 0;
	}
.footer {
	padding: 80px 60px;
	background-image: url(../images/generation-flooring-circle-logo.png);
	background-repeat: no-repeat;
	background-position: 110% -40%;
	background-size: 40vw 40vw;
	font-family: 'Avenir Roman', sans-serif; 
	font-size: 30px; 
	color: #fff;
	line-height: 100%;
}
}
